<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR">
  <Properties>
    <Property name="DEFAULT_PATTERN">
      %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
    </Property>
    <Property name="SIMPLE_PATTERN">
      %msg%n
    </Property>
    <Property name="FILENAME">
      ${sys:logFilename}
    </Property>
  </Properties>
  <Appenders>
    <Console name="DefaultConsoleAppender" target="SYSTEM_OUT">
      <PatternLayout pattern="${DEFAULT_PATTERN}" />
    </Console>
    <Console name="UserConsoleAppender" target="SYSTEM_OUT">
      <PatternLayout pattern="${SIMPLE_PATTERN}" />
      <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY" />
    </Console>
    <RollingFile name="FileAppender" fileName="${FILENAME}" filePattern="logs/log4j2-%d{yyyy-MM-dd}-%i.log">
      <PatternLayout pattern="${DEFAULT_PATTERN}" />
      <Policies>
        <SizeBasedTriggeringPolicy size="50kB" />
      </Policies>
      <DefaultRolloverStrategy max="5" />
    </RollingFile>
  </Appenders>
  <Loggers>
    <Logger name="google.dao" level="DEBUG" additivity="false">
      <AppenderRef ref="UserConsoleAppender" />
      <AppenderRef ref="FileAppender" />
    </Logger>
    <Logger name="google.main" level="DEBUG" additivity="false">
      <AppenderRef ref="UserConsoleAppender" />
      <AppenderRef ref="FileAppender" />
    </Logger>
    <Logger name="google.finder" level="DEBUG" additivity="false">
      <AppenderRef ref="UserConsoleAppender" />
      <AppenderRef ref="FileAppender" />
    </Logger>
    <Root level="ERROR">
      <AppenderRef ref="DefaultConsoleAppender" />
    </Root>
  </Loggers>
</Configuration>
