<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR">
  <Properties>
    <Property name="DEFAULT_PATTERN">
      %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
    </Property>
    <Property name="SIMPLE_PATTERN">
      %msg%n
    </Property>
  </Properties>
  <Appenders>
    <Console name="DefaultConsoleAppender" target="SYSTEM_OUT">
      <PatternLayout pattern="${DEFAULT_PATTERN}" />
    </Console>
    <Console name="UserConsoleAppender" target="SYSTEM_OUT">
      <PatternLayout pattern="${SIMPLE_PATTERN}" />
      <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY" />
    </Console>
  </Appenders>
  <Loggers>
    <Logger name="google.dao" level="DEBUG" additivity="false">
      <AppenderRef ref="UserConsoleAppender" />
    </Logger>
    <Logger name="google.main" level="DEBUG" additivity="false">
      <AppenderRef ref="UserConsoleAppender" />
    </Logger>
    <Logger name="google.finder" level="DEBUG" additivity="false">
      <AppenderRef ref="UserConsoleAppender" />
    </Logger>
    <Root level="ERROR">
      <AppenderRef ref="DefaultConsoleAppender" />
    </Root>
  </Loggers>
</Configuration>
